[submodule "lib/FreeRTOS-Kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "pico-https"]
	path = lib/pico-https
	url = https://github.com/eremiticengineer/pico-https
[submodule "pico-lora"]
	path = lib/pico-lora
	url = https://github.com/eremiticengineer/pico-lora
[submodule "pico-wifi"]
	path = lib/pico-wifi
	url = https://github.com/eremiticengineer/pico-wifi
